.popup {
    width: 19rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 2px;

}

.separator {
    height: 2px;
    margin-right: 1rem;
}

.btn-dark2 {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffffff24;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    /* border: 1px solid red; */
    border-radius: 10px;
}